<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>

    {% block title%}{% endblock %}
    {% block script%}{% endblock %}
</head>

<body>
    <nav>
        <a href="/home">
            <h1>Notes</h1>
        </a>
    </nav>
    <div class="row" id="row">
        <div class="sidebar">
            {% block side %}
            {% endblock %}
        </div>
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
    </div>

</body>

</html>
